<html>
    <h1>Employee Management System</h1>
    
        <a href="http://localhost:4005/entry ">
      <button type="button">Add an employee</button> </a>
       <table border="1">
           <tr>
               <td>Employee No</td>
               <td>Name</td>
               <td>Department</td>
               <td>Operations</td>
           </tr>
       
       
       <% 
           let i =0;
           employee.forEach(function(data){ %>
                <tr>
                    <!-- <% console.log(data) %> -->
                   <td> <%= data.empno %> </td>
                   <td>
                    <!-- <a href="http://localhost:4005/employeedetail/<%= data.empno %>"> <%= data.empname %> </a> -->
                       <a href="http://localhost:4005/employeedetail/<%= data.empname %>/<%= data.dept %>/<%= data.salary %>"> <%= data.empname %> </a>
                </td>
                   
                    <td> <%
                        let deptname=""
                        switch(data.dept){
                            case 1: deptname="IT" ;break;
                            case 2: deptname="Sales"; break;
                            case 3: deptname="HR";break;
                        }
                        
                   %> 
                   <a href="http://localhost:4005/departmentList/<%= data.dept %>"> <%= deptname %> </a>
                </td> 
       
               <td>
                <a href='http://localhost:4005/deleterecord/ <%= i++ %>'><button>delete</button></a> 
                <a href='http://localhost:4005/updaterecord/<%= data.empno %>'><button>update</button></a>
                
               </td>
       
               </tr>
       
       
          <% }) %>
       
       
       
       </table>
       
       
</html>