<html>
 <a href="http://localhost:4005/">Home </a>
<table border="1">
    <tr>
        <td>Employee No</td>
        <td>Name</td>
        <td>Department</td>
        <td>Operations</td>
    </tr>


<% 
    let i =0;
    let x =0;
    employee.forEach(function(data){ %>
         <tr>
            <td> <%= data.empno %> </td>
            <td><a href="http://localhost:4005/employeedetail/<%= data.empno %>"> <%= data.empname %> </a></td>
            
             <td> <%
                if(data.dept == 1) {
                   deptname="IT"    
               }
               if (data.dept == 2){
                   deptname="Sales"    
               }
               if (data.dept == 3){
                   deptname="HR"    
               }
           
            %> 
            <a href="http://localhost:4005/deptdetails"> <%= deptname %> </a></td> 
            <!-- <td> <% 
                let deptno = data.dept
                let dept
                switch(dept) {
                    case 1: "IT"
                    break;
                    case 2: "Sales"
                    break;
                    case 3: "HR"
                    break;
               }  %>
            <%= dept %> 
        
        </td> -->

        <td><a href='http://localhost:4005/deleterecord/ <%= i++ %>'><button>delete</button></a>

            <a href='http://localhost:4005/updaterecord/<%= x++ %>'><button>update</button></a>
        </td>

        </tr>


   <% }) %>



</table>


</html>